.pageHero {
  /* border: 2px solid red; */
  overflow-y: hidden;
  width: 100%;
  height: 91.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../../assets/image/background.jpg') no-repeat center/cover;
}

.heroContent {
  /* border: 2px solid black; */
  width: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(219, 219, 219);
  font-size: 20px;
}
